[submodule "external/Unity"]
	path = external/Unity
	url = git@github.com:ThrowTheSwitch/Unity.git
[submodule "external/--force"]
	path = external/--force
	url = git@github.com:ThrowTheSwitch/Unity.git
[submodule "external/CMock"]
	path = external/CMock
	url = git@github.com:ThrowTheSwitch/CMock.git
